/*350*/
@media (max-width : 1300px) {
        nav .container .logo {
        width: 15%;
    }

      nav .container .links .burger {
        width: 50px;
        height: 40px;
        border: var(--main_color) 1px solid;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color:transparent;
    }
      nav .container .links .burger span {
        display: block;
        width: 25px;
        height: 2px;
        background-color:var(--main_color);
    }

    nav .container .links ul{
        background-color: var(--bg_color);
        position: absolute;
        bottom:-10px;
        left: 0;
        right: 0;/*حدد حدود العنصر من الاتجاهين */
        transform: translateY(100%);
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        width: 90%;
        margin: auto;
        border-radius:10px;
        transition: 1s;
        height: 0; 
        padding-block: 0; 
        overflow: hidden;
    }
    nav .container .links .burger:focus + ul {
        height: 229px;
        padding-block: 20px; 

    }
    
    #About .container [class^="part"] {
        width: 100%;
    }
    #About .container {
        flex-wrap: wrap;
    }
    #About .container .part1 {
        margin-bottom:40px;
    }
    
    #About .container .part1 .frame {
        width: 280px;
    }
    
    #About .container .part2 .info .col {
        width: 100%;
    }
    #About .container .part2 button {
        padding: 10px 15px;
    }


    #ContactUs form .input:nth-of-type(1),
    #ContactUs form .input:nth-of-type(2){
    width: 100%;
   }



    .title h2 {
        font-size: 30px;
    }
    #Services .content .box {
        width: 100%;
    }
    #Services .content {
        row-gap: 30px;
     }
    

    #Portfolio .content .box{
    width: 100%;
    }
    #Portfolio .content .box .item .info h3 {
    padding: 5px;
    }
    #Portfolio .content .box .item .info a {
    padding: 8px;
    }


    #Blog .content .box{
    width: 100%;
    }
    #Blog .content .box .item {
    margin: 10px auto;
    }         
    #ContactUs form .input:nth-of-type(1) .item{
    margin-right: 0px;
    }
    #ContactUs form .input:nth-of-type(2) .item {
    margin-left: 0px;
    }



    footer p {
    padding-block: 13px;
    font-size: 13px;
    }

} 
        /*450*/
@media (min-width: 371px) and (max-width : 1300px) {
        nav .container .logo {
                width: 10%;
        }
        #About .container .part2 .info .col {
        width: 50%;
        font-size: 15px;
        }
    
    #Services .content .box {
        width: 85%;
        margin: auto;
    }



    footer p {
    padding-block: 14px;
    font-size: 14px;
    }
}
/*650*/
@media (min-width: 577px) and (max-width : 1300px) {
    nav .container .logo {
        width: 8%;
    }
    #About .container .part2 .info .col {
            font-size: 16px;
    }


    .title h2 {
        font-size: 40px;
    }
    #Services .content .box {
        width: 50%;
    }

    #Portfolio .content .box {
        width: 50%;
    }
    #Portfolio .content .box .item .info h3 {
    padding: 7px;
    }
    #Portfolio .content .box .item .info a {
    padding: 10px;
    }


    #Blog .content .box{
        width: 50%;
    }
    #Blog .content .box .item {
        margin: 15px 20px;
        width: initial;
    }

    footer p {
    padding-block: 15px;
    font-size: 15px;
    }

}

    
/*850*/
@media (min-width: 769px) and (max-width : 1300px) {
        nav .container .logo {
        width: 6%;
    }
        #About .container [class^="part"] {
        width: 50%;
    }
           
    #About .container .part2 .info .col {
        font-size: 12px;
    }


    #Services .content {
        row-gap: 40px;
    }
    #Services .content .box .item { 
        width: 70%;
        margin: auto;
    }
    #Portfolio .content .box .item .info h3 {
    padding: 7px;
    }



    #Blog .content .box .item {
        margin: 20px auto;
        width: 280px;
    }



    #ContactUs form .input:nth-of-type(1), #ContactUs form .input:nth-of-type(2){
    width: 50%;
    }
    #ContactUs form .input:nth-of-type(1) .item{
    margin-right: 5px;
    }
    #ContactUs form .input:nth-of-type(2) .item {
    margin-left: 5px;
    }



}
/*1050*/
@media (min-width: 992px) and (max-width : 1300px) {
        nav .container .logo {
        width: 4%;
    }
     #About .container .part2 .info .col {
        font-size: 16px;
    }
      #About .container .part2 button {
        padding: 15px 20px;
        }

    #Services .content {
        row-gap: 0;
    }   
    #Services .content .box {
        width: 25%;
    }  
       #Services .content .box .item { 
        width: auto;
       margin-inline: 10px;
    } 

    #Portfolio .content .box {
        width: 33.3%;
    }


    #Blog .content .box {
        width: 33.33%;
    }
    #Blog .content .box .item {
        margin: 20px 10px;
        width: initial;
    }
    
}
/*1250*/
@media (min-width: 1181px) and (max-width : 1300px) {


     #Portfolio .content .box .item .info h3 {
    padding: 15px;
    }
}